---
layout: default
---

<style>
  .progress-bar {
    -webkit-transition: width 1.5s ease-in-out;
    transition: width 1.5s ease-in-out;
  }
  .progress {
    width: 100%;
    height: 35px;
    background: #ddd;

  }
  .donate-button {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }



</style>
 
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="section-title">Funds</h2>
        </div>
      {% include fund-shortfall.html %}
    </div>
  
  
      <div class="row">
       <div class="col-md-12">
          <h2 class="section-title">Critical Funds</h2>
        </div>
        <div class="col-md-12">
          <table class="table table-bordered" style="border-top: none; border-bottom: none;">
            <tr>
              <th style="text-align: center;">Mission Critical Action</th>

              <th style="width: 20%;">Total Estimated Resource Requirements (USD)</th>

              <th style="width: 20%;">WHO Roadmap Estimated Resource Requirements (USD)</th>

              <th style="width: 20%;">Estimated Resources to be Implemented through WHO (USD)</th>
            </tr>

            <tr>
              <td>1. Identify and trace people with Ebola</td>

              <td style='text-align: center;'>189,500,000</td>

              <td style='text-align: center;' class='hidden-xs'>186,781,597</td>

              <td style='text-align: center; font-weight: bold;' class='hidden-xs'>73,000,000</td>
            </tr>

            <tr>
              <td>2. Safe and dignified burials</td>

              <td style='text-align: center;'>23,800,000</td>

              <td style='text-align: center;' class='hidden-xs'>23,796,371</td>

              <td style='text-align: center; font-weight: bold;' class='hidden-xs'>10,000,000</td>
            </tr>

            <tr>
              <td>3. Care for persons with Ebola and infection control</td>

              <td style='text-align: center;'>331,200,000</td>

              <td style='text-align: center;' class='hidden-xs'>272,662,400</td>

              <td style='text-align: center; font-weight: bold;' class='hidden-xs'>105,000,000</td>
            </tr>

            <tr>
              <td>4. Medical care for responders</td>

              <td style='text-align: center;'>14,000,000</td>

              <td style='text-align: center;' class='hidden-xs'>14,000,000</td>

              <td style='text-align: center; font-weight: bold;' class='hidden-xs'>10,000,000</td>
            </tr>

            <tr>
              <td>5. Provision of food security and nutrition</td>

              <td style='text-align: center;'>107,000,000</td>

              <td style='text-align: center;' class='hidden-xs'></td>

              <td style='text-align: center; font-weight: bold;' class='hidden-xs'></td>
            </tr>

            <tr>
              <td>6. Access to basic (including non-Ebola health) services</td>

              <td style='text-align: center;'>97,100,000</td>

              <td style='text-align: center;' class='hidden-xs'>41,493,959</td>

              <td style='text-align: center; font-weight: bold;' class='hidden-xs'>36,000,000</td>
            </tr>

            <tr>
              <td>7. Cash incentives for workers</td>

              <td style='text-align: center;'>2,500,000</td>

              <td style='text-align: center;' class='hidden-xs'></td>

              <td style='text-align: center; font-weight: bold;' class='hidden-xs'></td>
            </tr>

            <tr>
              <td>8. Recovery and economy</td>

              <td style='text-align: center;'>64,800,000</td>

              <td style='text-align: center;' class='hidden-xs'></td>

              <td style='text-align: center; font-weight: bold;' class='hidden-xs'></td>
            </tr>

            <tr>
              <td>9. Reliable supplies of materials and equipment</td>

              <td style='text-align: center;'>42,600,000</td>

              <td style='text-align: center;' class='hidden-xs'></td>

              <td style='text-align: center; font-weight: bold;' class='hidden-xs'></td>
            </tr>

            <tr>
              <td>10. Transport and fuel</td>

              <td style='text-align: center;'>23,400,000</td>

              <td style='text-align: center;' class='hidden-xs'></td>

              <td style='text-align: center; font-weight: bold;' class='hidden-xs'></td>
            </tr>

            <tr>
              <td>11. Social mobilization and community engagement</td>

              <td style='text-align: center;'>45,800,000</td>

              <td style='text-align: center;' class='hidden-xs'>10,314,185</td>

              <td style='text-align: center; font-weight: bold;' class='hidden-xs'>8,000,000</td>
            </tr>

            <tr>
              <td>12. Messaging</td>

              <td style='text-align: center;'>3,200,000</td>

              <td style='text-align: center;' class='hidden-xs'>2,600,000</td>

              <td style='text-align: center; font-weight: bold;' class='hidden-xs'>2,000,000</td>
            </tr>

            <tr>
              <td>Multi-Facted/Preparedness</td>

              <td style='text-align: center;'>30,500,000</td>

              <td style='text-align: center;' class='hidden-xs'>20,000,000</td>

              <td style='text-align: center; font-weight: bold;' class='hidden-xs'>16,000,000</td>
            </tr>

            <tr>
              <td>Total</td>

              <td style='text-align: center; font-weight: bold;'>975,400,000</td>

              <td style='text-align: center; font-weight: bold;' class='hidden-xs'>571,648,512</td>

              <td style='text-align: center; font-weight: bold;' class='hidden-xs'>260,000,000</td>
            </tr>
          </table>
        </div>
      </div>


      <div class="row">
       <div class="col-md-12">
       
          <h2 class="section-title">Contributions to the response</h2>

          <div class="tab-content">
            <div class="tab-pane fade in active" id="resources_available_tab">
              <table class="table table-bordered" style="border-top: none; border-bottom: none;" id='memberContributions'>
                <thead>
                  <tr>
                    <th>Members</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
              <table class="table table-bordered" style="border-top: none; border-bottom: none;" id='nonMemberContributions'>
                <thead>
                  <tr>
                    <th>Non-Members</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
              
            </div>
          </div>
        </div>
      </div>

      <p>* Estimated current distribution of funds which can be of used flexibly to address the response needs.</p>
      <p>
          OCHA’s Financial Tracking Services tracks contributions to <a href="http://fts.unocha.org/pageloader.aspx?page=emerg-emergencyDetails&appealID=1060">UN OCHA’s Overview of Needs and Requirements</a> (which includes WHO) - September 2014 - February 2015.
      </p>
    </div>
<script type='text/template' id='rowTmpl'>
<tr>
  <td> <%= contributor %> </td>
  <td> <%= amount %> </td>
</tr>
</script>
<script>
   var getFunds = await('funds');

   $.ajax('{{site.baseurl}}/data/funding.json', {
      success: function(data){ getFunds.keep('funds', data) },
      error: function(err) { getFunds.fail(err) }
    })
   

    function commaSeparateNumber(val){
      while (/(\d+)(\d{3})/.test(val.toString())){
        val = val.toString().replace(/(\d+)(\d{3})/, '$1'+','+'$2');
      }
      return val;
    }

    function add(a, b) {
        return a + b
    }

    function totalAmount(data) {
      return _(data).chain().pluck('amount').map(function(str) {return parseInt(str)}).reduce(add, 0).value();
    }
getFunds.then(function(data) {
    fundingData = data.funds;
    var target = 260000000;
    var totalPledges = totalAmount(fundingData.contributions)
    var totalContributions = totalAmount(fundingData.pledges);

    $('#total-received').html('$' + commaSeparateNumber(totalContributions))
    $('#total-projected').html('$' + commaSeparateNumber(totalPledges))
    $('#total-shortfall').html('$' + commaSeparateNumber( target - totalPledges - totalContributions))
    var progress = (totalPledges + totalContributions)/target

    $(window).resize(function() {
        moveProgressBar();
    });

    function moveProgressBar() {      
      var bar = $('#funding-progress .progress-bar')
      bar.width(progress*100 + '%') ;
      bar.attr('aria-valuenow', progress*100);
      $('#funding-progress .progress-bar .sr-only').html('' + progress * 100 + '% Funded');
    }

    (function fillInContributionsTable() {
      var memberTable = $('#memberContributions');
      var nonMemberTable = $('#nonMemberContributions')
      var tmpl = _.template($('#rowTmpl').html());
      fundingData.contributions.forEach(function(contribution) {
        var rowHTML = tmpl({
          contributor: contribution.funder,
          amount: commaSeparateNumber(parseInt(contribution.amount))
        })
        if (contribution.member_status === 'member') {
          memberTable.append(rowHTML);
        } else {
          nonMemberTable.append(rowHTML);
        }
      })
    })()

    // function fillInPledgesTable() {

    // }

    moveProgressBar();
})
</script>