<style>
  .progress-bar {
    -webkit-transition: width 1.5s ease-in-out;
    transition: width 1.5s ease-in-out;
  }
  .progress {

    width: 100%;
    height: 35px;
    background: #ddd;

  }
  .donate-button {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
</style>

<div class="row">
    <div class="col-md-3">
      Target<br>
      <span class="fund-amount" id='total-target'>$260,000,000</span><br>
    </div>

    <div class="col-md-3">
      Received<br>
      <span class="fund-amount fund-received" id='total-received'></span><br>
    </div>

    <div class="col-md-3">
      Projected<br>
      <span class="fund-amount fund-projected" id='total-projected'></span><br>
    </div>

    <div class="col-md-3">
      Shortfall<br>
      <span class="fund-amount fund-shortfall" id='total-shortfall'></span><br>
    </div>
</div>

<div class="row">
    <div class="col-md-9" id='funding-progress'>
      <div class="progress">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
          <span class="sr-only">0% Complete</span>
        </div>
      </div>
    </div>
    <div class='col-md-1'>
      <button type="button" id='donate-button' class="btn btn-success">Donate</button>
    </div>
    <div class='col-md-1'></div>
</div>

<script>
   var fundingData = {
    "contributions": [
        {
            "amount": "20053",
            "funder": "Andorra",
            "member_status": "member",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "2801120",
            "funder": "Australia - Department of Foreign Affairs and Trade ",
            "member_status": "member",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "466853.408",
            "funder": "Australia - Department of Health",
            "member_status": "member",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "918273.6455",
            "funder": "Canada - Department of Foreign Affairs, Trade and Development (DFATD)",
            "member_status": "member",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "169880.6244",
            "funder": "Canada - Public Health Agency of Canada (PHAC)",
            "member_status": "member",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "3413551.801",
            "funder": "Denmark",
            "member_status": "member",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "65876",
            "funder": "Estonia",
            "member_status": "member",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "668449.1979",
            "funder": "Finland",
            "member_status": "member",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "13349609",
            "funder": "Germany",
            "member_status": "member",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "500000",
            "funder": "India",
            "member_status": "member",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "850000",
            "funder": "Japan",
            "member_status": "member",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "5000000",
            "funder": "Kuwait",
            "member_status": "member",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "133689",
            "funder": "Luxembourg",
            "member_status": "member",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "2713920.817",
            "funder": "Norway",
            "member_status": "member",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "450000",
            "funder": "Republic of Korea",
            "member_status": "member",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "844595",
            "funder": "United Kingdom of Great Britain & Northern Ireland \u00d0 the Scottish Government",
            "member_status": "member",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "20053",
            "funder": "The Slovak Republic",
            "member_status": "member",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "40106.95187",
            "funder": "Republic of Slovenia",
            "member_status": "member",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "6397175",
            "funder": "The United States of America - USAID",
            "member_status": "member",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "13063018",
            "funder": "US - Department of Defense",
            "member_status": "member",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "38647250.03",
            "funder": "African Development Bank -  Strengthening West Africa\u00d5s Public Health Systems Response to the Ebola Crisis (SWAPHS)",
            "member_status": "nonmember",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "999999.53",
            "funder": "African Development Bank -  Liberia",
            "member_status": "nonmember",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "999999.53",
            "funder": "African Development Bank - Sierra Leone",
            "member_status": "nonmember",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "1000000",
            "funder": "African Development Bank - Nigeria",
            "member_status": "nonmember",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "999999.53",
            "funder": "African Development Bank - Guinea",
            "member_status": "nonmember",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "400000",
            "funder": "BHP Billiton",
            "member_status": "nonmember",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "5073925",
            "funder": "Bill & Melinda Gates Foundation",
            "member_status": "nonmember",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "554766",
            "funder": "CERF - Guinea",
            "member_status": "nonmember",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "1063443",
            "funder": "CERF - Nigeria",
            "member_status": "nonmember",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "668449",
            "funder": "European Commission - Directorate-General Humanitarian Aid and Civil Protection (ECHO)",
            "member_status": "nonmember",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "500000",
            "funder": "OPEC Fund for International Development (OFID)",
            "member_status": "nonmember",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "17687.9",
            "funder": "The UnitedNations Development Programme (UNDP)",
            "member_status": "nonmember",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "2300000",
            "funder": "World Bank \u00d0 Guinea ",
            "member_status": "nonmember",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "19121406",
            "funder": "World Bank \u00d0 Liberia",
            "member_status": "nonmember",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "2800000",
            "funder": "World Bank \u00d0 Sierra Leone ",
            "member_status": "nonmember",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "contribution"
        },
        {
            "amount": "319344",
            "funder": "Canada - Department of Foreign Affairs, Trade and Development (DFATD)",
            "member_status": "member",
            "notes": "",
            "period_finish": "7/31/2014",
            "period_start": "3/1/2014",
            "type": "contribution"
        },
        {
            "amount": "182482",
            "funder": "Canada - Public Health Agency of Canada (PHAC)",
            "member_status": "member",
            "notes": "",
            "period_finish": "7/31/2014",
            "period_start": "3/1/2014",
            "type": "contribution"
        },
        {
            "amount": "13755.15818",
            "funder": "Estonia",
            "member_status": "member",
            "notes": "",
            "period_finish": "7/31/2014",
            "period_start": "3/1/2014",
            "type": "contribution"
        },
        {
            "amount": "553250.3458",
            "funder": "Germany",
            "member_status": "member",
            "notes": "",
            "period_finish": "7/31/2014",
            "period_start": "3/1/2014",
            "type": "contribution"
        },
        {
            "amount": "275103.1637",
            "funder": "Italy",
            "member_status": "member",
            "notes": "",
            "period_finish": "7/31/2014",
            "period_start": "3/1/2014",
            "type": "contribution"
        },
        {
            "amount": "300000",
            "funder": "Japan",
            "member_status": "member",
            "notes": "",
            "period_finish": "7/31/2014",
            "period_start": "3/1/2014",
            "type": "contribution"
        },
        {
            "amount": "100000",
            "funder": "Republic of Korea",
            "member_status": "member",
            "notes": "",
            "period_finish": "7/31/2014",
            "period_start": "3/1/2014",
            "type": "contribution"
        },
        {
            "amount": "340136",
            "funder": "United Kingdom-Department For International Development (DFID)",
            "member_status": "member",
            "notes": "",
            "period_finish": "7/31/2014",
            "period_start": "3/1/2014",
            "type": "contribution"
        },
        {
            "amount": "150000",
            "funder": "The United States of America - Department of State",
            "member_status": "member",
            "notes": "",
            "period_finish": "7/31/2014",
            "period_start": "3/1/2014",
            "type": "contribution"
        },
        {
            "amount": "150000",
            "funder": "The United States of America - USAID",
            "member_status": "member",
            "notes": "",
            "period_finish": "7/31/2014",
            "period_start": "3/1/2014",
            "type": "contribution"
        },
        {
            "amount": "3090480",
            "funder": "African Development Bank",
            "member_status": "nonmember",
            "notes": "",
            "period_finish": "7/31/2014",
            "period_start": "3/1/2014",
            "type": "contribution"
        },
        {
            "amount": "519313",
            "funder": "CERF - Guinea",
            "member_status": "nonmember",
            "notes": "",
            "period_finish": "7/31/2014",
            "period_start": "3/1/2014",
            "type": "contribution"
        },
        {
            "amount": "311200",
            "funder": "CERF - Liberia",
            "member_status": "nonmember",
            "notes": "",
            "period_finish": "7/31/2014",
            "period_start": "3/1/2014",
            "type": "contribution"
        },
        {
            "amount": "103608",
            "funder": "CERF - Sierra Leone",
            "member_status": "nonmember",
            "notes": "",
            "period_finish": "7/31/2014",
            "period_start": "3/1/2014",
            "type": "contribution"
        },
        {
            "amount": "687758",
            "funder": "European Commission - Directorate-General Humanitarian Aid and Civil Protection (ECHO)",
            "member_status": "nonmember",
            "notes": "",
            "period_finish": "7/31/2014",
            "period_start": "3/1/2014",
            "type": "contribution"
        },
        {
            "amount": "107000",
            "funder": "OAS Brazil",
            "member_status": "nonmember",
            "notes": "",
            "period_finish": "7/31/2014",
            "period_start": "3/1/2014",
            "type": "contribution"
        },
        {
            "amount": "100000",
            "funder": "Rio Tinto Guinea",
            "member_status": "nonmember",
            "notes": "",
            "period_finish": "7/31/2014",
            "period_start": "3/1/2014",
            "type": "contribution"
        },
        {
            "amount": "25000",
            "funder": "Soci\u008et\u008e Anglogold Ashanti de Guin\u008ee (SAG)",
            "member_status": "nonmember",
            "notes": "",
            "period_finish": "7/31/2014",
            "period_start": "3/1/2014",
            "type": "contribution"
        },
        {
            "amount": "25000",
            "funder": "Soci\u008et\u008e des mines de fer de guin\u008ee  (SMFG)",
            "member_status": "nonmember",
            "notes": "",
            "period_finish": "7/31/2014",
            "period_start": "3/1/2014",
            "type": "contribution"
        },
        {
            "amount": "100000",
            "funder": "VALE INTERNATIONAL HOLDINGS  GmbH",
            "member_status": "nonmember",
            "notes": "",
            "period_finish": "7/31/2014",
            "period_start": "3/1/2014",
            "type": "contribution"
        },
        {
            "amount": "28200",
            "funder": "VIVO Energy",
            "member_status": "nonmember",
            "notes": "",
            "period_finish": "7/31/2014",
            "period_start": "3/1/2014",
            "type": "contribution"
        }
    ],
    "pledges": [
        {
            "amount": "2000000",
            "funder": "China ",
            "member_status": "member",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "pledge"
        },
        {
            "amount": "668449.1979",
            "funder": "France",
            "member_status": "member",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "pledge"
        },
        {
            "amount": "267380",
            "funder": "Germany -  the German Federal Foreign Office",
            "member_status": "member",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "pledge"
        },
        {
            "amount": "6000000",
            "funder": "Japan",
            "member_status": "member",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "pledge"
        },
        {
            "amount": "6684492",
            "funder": "Netherlands",
            "member_status": "member",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "pledge"
        },
        {
            "amount": "418760",
            "funder": "New Zealand",
            "member_status": "member",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "pledge"
        },
        {
            "amount": "1000000",
            "funder": "Qatar",
            "member_status": "member",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "pledge"
        },
        {
            "amount": "50338",
            "funder": "Russia",
            "member_status": "member",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "pledge"
        },
        {
            "amount": "2865329.513",
            "funder": "Sweden",
            "member_status": "member",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "pledge"
        },
        {
            "amount": "156495",
            "funder": "Thailand",
            "member_status": "member",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "pledge"
        },
        {
            "amount": "1200000",
            "funder": "US - Department of State",
            "member_status": "member",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "pledge"
        },
        {
            "amount": "17352751.38",
            "funder": "African Development Bank -  Strengthening West Africa\u00d5s Public Health Systems Response to the Ebola Crisis (SWAPHS) Future tranches",
            "member_status": "nonmember",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "pledge"
        },
        {
            "amount": "700000",
            "funder": "African Union",
            "member_status": "nonmember",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "pledge"
        },
        {
            "amount": "500000",
            "funder": "World Bank \u00d0 Guinea Bissau",
            "member_status": "nonmember",
            "notes": "",
            "period_finish": "10/17/2014",
            "period_start": "8/1/2014",
            "type": "pledge"
        }
    ]}

   
    function commaSeparateNumber(val){
      while (/(\d+)(\d{3})/.test(val.toString())){
        val = val.toString().replace(/(\d+)(\d{3})/, '$1'+','+'$2');
      }
      return val;
    }

    function add(a, b) {
        return a + b
    }

    function totalAmount(data) {
      return _(data).chain().pluck('amount').map(function(str) {return parseInt(str)}).reduce(add, 0).value();
    }

    var target = 260000000;
    var totalPledges = totalAmount(fundingData.contributions)
    var totalContributions = totalAmount(fundingData.pledges);

    $('#total-received').html('$' + commaSeparateNumber(totalContributions))
    $('#total-projected').html('$' + commaSeparateNumber(totalPledges))
    $('#total-shortfall').html('$' + commaSeparateNumber( target - totalPledges - totalContributions))
    var progress = (totalPledges + totalContributions)/target

    $(window).resize(function() {
        moveProgressBar();
    });

    function moveProgressBar() {
      // var getPercent = ($('.progress-wrap').data('progress-percent'));
      // var getProgressWrapWidth = $('.progress-wrap').width();
      // var progressTotal = getPercent * getProgressWrapWidth;
      // var animationLength = 1500;
      
      // // on page load, animate percentage bar to data percentage length
      // // .stop() used to prevent animation queueing
      // $('.progress-bar').stop().animate({
      //     left: progressTotal
      // }, animationLength);

      
      var bar = $('#funding-progress .progress-bar')
      bar.width(progress*100 + '%') ;
      bar.attr('aria-valuenow', progress*100);
      $('#funding-progress .progress-bar .sr-only').html('' + progress * 100 + '% Funded');
    }

    moveProgressBar();

  </script>