<!DOCTYPE html>
<html>
<head>
  <title>Datos.gob.mx {% if page.url != '/index.html' %}| {{page.title}}{% endif %}</title>
  <meta charset='UTF-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='alternate' type='application/rss+xml' title='RSS' href='SITEURLGOESHERE/blog.rss' />
  <script src='{{site.baseurl}}/site.js'></script>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
  
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.css' rel='stylesheet' />
  
  <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
  <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />

  <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-minimap/v1.0.0/Control.MiniMap.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-minimap/v1.0.0/Control.MiniMap.css' rel='stylesheet' />
  
  <script src='{{site.baseurl}}/js/jquery.scrollto.js'></script>
  <script src="{{site.baseurl}}/js/municipalities.js"></script>
  <link rel='shortcut icon' href='{{site.baseurl}}/img/favicon.ico' type='image/x-icon' />
  <link href="{{site.baseurl}}/css/bootstrap.min.css" rel="stylesheet">
  <link href='{{site.baseurl}}/site.css' rel='stylesheet' />
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/mexico-risk-atlas/">{{page.title}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" data-toggle="modal" data-target="#infoModal">Info</a></li>
        <li><a href="http://datos.gob.mx/">DATOS.GOB.MX</a></li>
        <!--
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actions <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Browse maps</a></li>
            <li><a href="#">Find data</a></li>
            <li><a href="#">About</a></li>
        </li>
      </ul>
      -->
    </div><!-- /.navbar-collapse -->
</nav>

<!--
	<div id="map-ui">
	  <div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		  <span id="event-select-label">Seleccione evento</span> <span class="caret"></span>
		</button>
		<ul class="dropdown-menu date-dropdown layer-switch" role="menu">
		</ul>
	  </div>
	</div>
-->	

<div id="map" class="dark"></div>

<div id="info">
 
</div>
<div id="pager"><ul class="layer-switch"></ul></div>
<div class="loading"></div>

{{content}}


<!-- info modal -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Info</h4>
      </div>
      <div class="modal-body">
        {{page.info}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



{% if page.custom == false %}
<script type='text/javascript'>

$('.loading').show();


L.mapbox.accessToken = 'pk.eyJ1IjoiZGV2c2VlZCIsImEiOiJnUi1mbkVvIn0.018aLhX0Mb0tdtaT2QNe2Q';
var map = L.mapbox.map('map', '{{page.basemap}}')
    .setView([{{page.lat}}, {{page.lng}}], {{page.zoom}});
var municipalitesLayer = L.geoJson();
var apiLayer = L.layerGroup();
var markers = new L.MarkerClusterGroup({
    spiderfyOnMaxZoom: true,
    showCoverageOnHover: false,
    zoomToBoundsOnClick: false
});
var municipalityKey = [];
municipalitesLayer.addTo(map);
markers.addTo(map);
apiLayer.addTo(map);

new L.Control.MiniMap(L.mapbox.tileLayer('devseed.jfe5nhb2'), {
        aimingRectOptions: {
            color: '#FFBF00'
        }
    })
    .addTo(map);


var icon = {
    "iconUrl": '/mexico-risk-atlas/css/images/icon.png',
    "iconSize": [40, 40]
};
var apiMarker = {
    "iconUrl": '/mexico-risk-atlas/css/images/api-marker.png',
    "iconSize": [20, 20]
};




function countryStyle(feature) {
    return {
        'weight': 0.5,
        'opacity': 0.4,
        'color': '#fff',
        'fillOpacity': 0,
        'fillColor': '#FFC926',
        'className': 'municipio municipio-' + feature.properties.CVE_ENT + feature.properties.CVE_MUN
    }
}



L.geoJson(municipalities, {
    style: countryStyle,
}).addTo(municipalitesLayer);
municipalitesLayer.addTo(map);




$.ajax({
    type: 'GET',
    url: '/mexico-risk-atlas/js/municipality-key.json',
    dataType: 'json',
    success: function(data) {


        $.each(data, function(index, value) {
            var mun = {};
            mun.id = value.ID;
            mun.value = value.ID;
            mun.lat = value.LATITUDE;
            mun.lng = value.LONGITUDE;
            municipalityKey.push(mun);
        });


    }
});




$.ajax({
    type: 'GET',
    url: '{{page.endpoint4}}',
    dataType: 'jsonp',
    success: function(data) {
        console.log(data);

        var itemsUniqueKey = [];
        var items = [];

        $.each(data.result.records, function(index, value) {
            var check = $.inArray(value.Code, itemsUniqueKey);
            if (check == -1) {
                itemsUniqueKey.push(value.Code);
                items.push(value);
            }
        });

        $.each(items, function(index, value) {
            $('.date-dropdown').append('<li><a data-id="' + value.Code + '" href="#">' + formatDate(value['Date']) + ': ' + value['EVENTO'] + '</a></li>');
            //console.log(value);
        });

        $('.loading').hide();
    }

});




$('#map-ui').on('click', '.dropdown-menu li a', function(e) {

    $('.loading').show();

    markers.clearLayers();
    apiLayer.clearLayers();
    $('.municipio').css('fill-opacity', '0');

    var query = $(this).data('id');


    $.ajax({
        type: 'GET',
        url: 'http://201.175.32.249/api/action/datastore_search?resource_id=738a516d-67aa-4b4b-837a-2b81b9c9f61f&filters={"Code": "' + query + '"}&limit=100000',
        dataType: 'jsonp',
        success: function(data) {

            console.log(data);

            var x = [];

            $.each(data.result.records, function(index, value) {


                var mid = value.MunId;
                x.push({
                    'id': mid,
                    'record': value

                });



            });



            $.each(x, function(index, value) {

                $.each(municipalityKey, function(items, item) {


                    if (value.id == item.id) {


                        var marker = L.marker(new L.LatLng(item.lat, item.lng), {
                            'title': 'test',
                            'id': item.id
                        });

                        var markup = 'Phase 3: Reconstrucción';

                        marker.setIcon(L.icon(icon));
                        marker.bindPopup(markup, {
                            autoPan: true
                        });

                        markers.addLayer(marker);

                    }
                })
            });



            map.fitBounds(markers.getBounds(), {
                maxZoom: 7
            });

            $('.loading').hide();

        }


    });




    $.ajax({
        type: 'GET',
        url: 'http://201.175.32.249/api/action/datastore_search?resource_id=39e78078-495e-4c0e-a202-4b6668a226b9&filters={"Code": "' + query + '"}&limit=100000',
        dataType: 'jsonp',
        success: function(data) {




            var x = [];

            $.each(data.result.records, function(index, value) {

                var mid = value.MunId;
                x.push({
                    'id': mid,
                    'record': value
                });

            });




            $.each(x, function(index, value) {

                $.each(municipalityKey, function(items, item) {


                    if (value.id == item.id) {
                        var lat = item.lat - 0.1;
                        var marker = L.marker(new L.LatLng(lat, item.lng), {
                            'title': 'test',
                            'id': item.id
                        });

                        var markup = 'Phase 2: APIN';

                        marker.setIcon(L.icon(apiMarker));
                        marker.bindPopup(markup, {
                            autoPan: true
                        });

                        apiLayer.addLayer(marker);


                    }
                })
            });

        }


    });




    $.ajax({
        type: 'GET',
        url: 'http://201.175.32.249/api/action/datastore_search?resource_id=37814da6-8d53-4287-a8c4-86492a636cfb&filters={"Code": "' + query + '"}&limit=100000',
        dataType: 'jsonp',
        success: function(data) {



            var x = [];

            console.log(data);

            $.each(data.result.records, function(index, value) {

                if (value.MunId) {

                    var munId = value.MunId.toString();
                    if (munId.length == 4) {
                        munId = '0' + munId;
                    }
                    stateId = munId.substring(0, 2);
                    munId = munId.substring(2);


                    x.push({
                        'stateId': stateId,
                        'munId': munId,
                        'record': value
                    });

                }

            });




            $.each(x, function(index, value) {
                //console.log(value.munId);
                $('.municipio-' + value.stateId + value.munId).css('fill-opacity', '0.7');
            });




        }
    });


});



markers.on('clusterclick', function(e) {
    e.layer.spiderfy();
});


function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}

function formatDate(x) {
    var l = x.toString().length;
    if (l === 7) {
        x = '0' + x;
    }
    var d = x.substring(0, 2);
    var m = x.substring(2, 4);
    var y = x.substring(4);
    return m + '/' + d + '/' + y;
}





 
</script>
{% endif %}


</body>
</html>