---
layout: default
---

 
<div class="container sitrep">
	<div class="row">
		<div class="col-md-12">
		   <div class="header">
		     <div class="brand">World Health Organization</div>
		   </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2 class="section-title">
				Summary
			</h2>
			{{content}} 
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2 class="section-title">
				Recent cases
			</h2>
			<div class="main-map">
			   <div id="cases-map" class="main-map"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2 class="section-title">
				Narrative
			</h2>
			{{content}} 
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h2 class="section-title">
				EPI Curves
			</h2>
			<div id="global-epi" class="global-curve"></div>
		</div>
	</div>
</div>

<script>

$(document).ready(function() {
mapData.then(function(data) {

    districtData = data.districtData;
    globalData = data.globalData;
    
    L.mapbox.accessToken = 'pk.eyJ1IjoiZGV2c2VlZCIsImEiOiJnUi1mbkVvIn0.018aLhX0Mb0tdtaT2QNe2Q';
    var map = L.mapbox.map('cases-map', 'examples.map-20v6611k').setView([7.57, -11.75], 6);
    map.scrollWheelZoom.disable();
    var caseTotals = L.mapbox.featureLayer();
    var recentTotals = L.mapbox.featureLayer();
    recentTotals.addTo(map);
    caseTotals.addTo(map);
     
    var epiweek;
    $.each(districtData, function(index, value) {
      epiweek = value.epiweek;
      $.each(value.districts, function(index, value) {
    
       console.log(value);
        var markup = '<div class="inner"><b>' + value.total_cases + ' total cases</b><br>' + value.district + ', ' + value.country + '</div>';

        var marker = L.circleMarker([value.centroid[1], value.centroid[0]], {radius: value.total_cases / 4, opacity: 0, color: '#d86422', fillOpacity: 0.4});
        
                    marker.bindPopup(markup, {
                        autoPan: true
                    });
                    
        if (epiweek === '2014-W40') {            
          caseTotals.addLayer(marker);
        }
        
                            
        if (epiweek === '2014-W41') {         
          recentTotals.addLayer(marker);
          
        }
  
  
        
      });
    });
    

    $.each(districtData, function(index, value) {
      epiweek = value.epiweek;
      $.each(value.districts, function(index, value) {
    
       console.log(value);
        var markup = '<div class="inner"><b>' + value.total_cases + ' total cases</b><br>' + value.district + ', ' + value.country + '</div>';

        var marker = L.circleMarker([value.centroid[1], value.centroid[0]], {radius: value.total_cases / 4, opacity: 0, color: '#d86422', fillOpacity: 0.7});
        
                    marker.bindPopup(markup, {
                        autoPan: true
                    });
                    
        if (epiweek === '2014-W41') {            
          recentTotals.addLayer(marker);
        }
    
        
      });
    });
    
    

    
    //map.fitBounds(recentTotals.getBounds());
    
  });
});  
</script>